---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageType={'auth'}>
    <div class="card card-md shadow">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Passwort zurücksetzen</h2>
            <form id="forgotPasswordForm" data-astro-reload>
                <div class="mb-3">
                    <label class="form-label">E-Mail Adresse</label>
                    <input type="email" class="form-control" placeholder="Geben Sie Ihre E-Mail Adresse ein" id="email" required />
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary shadow w-100">Passwort zurücksetzen</button>
                </div>
                <div class="alert alert-danger mt-3 mb-2" style="display:none;" id="errorAlert"></div>
                <div class="alert alert-success mt-3 mb-2" style="display:none;" id="successAlert"></div>
            </form>
        </div>
    </div>
    <div class="text-center text-muted mt-3">
        Sie haben noch kein Konto? <a href="/register" tabindex="-1">Konto erstellen</a>
    </div>
</BaseLayout>

<style></style>

<script>
    import { onPageLoad } from '@scripts/router';

    onPageLoad(() => {
        document.getElementById('forgotPasswordForm')!.addEventListener('submit', async (e) => {
            e.preventDefault();

            const email = (document.getElementById('email')! as HTMLInputElement).value;
            const errorAlert = document.getElementById('errorAlert')!;
            const successAlert = document.getElementById('successAlert')!;

            errorAlert.style.display = 'none';
            successAlert.style.display = 'none';

            const response = await fetch('/api/forgotPassword', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    email: email,
                }),
            });
            const text = await response.text();
            if (response.status === 200) {
                successAlert.innerHTML = text;
                successAlert.style.display = 'block';
                return;
            }
            errorAlert.innerHTML = text;
            errorAlert.style.display = 'block';
        });
    });
</script>
