---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout pageType={'auth'}>
    <div class="card card-md shadow">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Passwort zurücksetzen</h2>
            <form id="forgotPasswordForm" data-astro-reload>
                <div class="mb-3">
                    <label class="form-label">Neues Passwort</label>
                    <input type="password" class="form-control" placeholder="Legen Sie ein neues Passwort fest" id="password" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Passwort wiederholen</label>
                    <input type="password" class="form-control" placeholder="Geben Sie das Passwort erneut ein" id="password2" required />
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary shadow w-100">Passwort ändern</button>
                </div>
                <div class="alert alert-danger mt-3 mb-2" style="display:none;" id="errorAlert"></div>
                <div class="alert alert-success mt-3 mb-2" style="display:none;" id="successAlert"></div>
            </form>
        </div>
    </div>
</BaseLayout>

<style></style>

<script>
    import { onPageLoad } from '@scripts/router';

    onPageLoad(() => {
        const successAlert = document.getElementById('successAlert')!;
        const errorAlert = document.getElementById('errorAlert')!;
        const password = document.getElementById('password') as HTMLInputElement;
        const password2 = document.getElementById('password2') as HTMLInputElement;

        document.getElementById('forgotPasswordForm')!.addEventListener('submit', async (e) => {
            e.preventDefault();
            errorAlert.style.display = 'none';
            successAlert.style.display = 'none';

            if (password.value !== password2.value) {
                errorAlert.innerHTML = 'Die Passwörter stimmen nicht überein.';
                errorAlert.style.display = 'block';
                return;
            }

            const response = await fetch('/api' + window.location.pathname, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    password: password.value,
                }),
            });
            const text = await response.text();
            if (response.status === 200) {
                successAlert.innerHTML = text;
                successAlert.style.display = 'block';
                return;
            }
            errorAlert.innerHTML = text;
            errorAlert.style.display = 'block';
        });
    });
</script>
